@tailwind base;
@tailwind components;
@tailwind utilities;

.noise::before {
  pointer-events: none;
  content: '';
  opacity: 40%;
  z-index: -1;
  background-color: white;
  filter: url('./noise.svg#noiseFilter') saturate(0);
}
